.login-btn {
  width: 150px;
  height: 30px;
  cursor: pointer;
  background-color: #212121;
  display: block;
  color: white;
  margin: auto;
  margin-top: 25px;
}

.login-box {
  text-align: center;
}
